body {
  padding: 0;
  margin: 0;
}

#tab-bar {
  display: flex;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f6f6;
  /* box-shadow: 0 -3px 1px rgba(246, 246, 246, .8) ; */
  border-top: 1px solid #e6e6e6;
}

.tab-bar-item {
  flex: 1;
  height: 49px; /* 一般 tab-bar 的高度为 49px(常用高度) */
}
